<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Prueba</name>

<gap:plugin name="cordova-plugin-whitelist" source="npm" />
<allow-intent href="tel:*" />
<allow-intent href="sms:*" />

<description>
 Probando
</description>

<author href="https://example.com" email="you@example.com">
Marco
</author>

<access origin="tel:*" launch-external="yes"/>
<access origin="geo:*" launch-external="yes"/>
<access origin="mailto:*" launch-external="yes"/>
<access origin="sms:*" launch-external="yes"/>
<access origin="market:*" launch-external="yes"/>

</widget>
